{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			{% for row in rows %}
			  {%
			    set row_classes = [
			      default_row_class ? 'views-row',
			    ]
			  %}
			  <div{{ row.attributes.addClass(row_classes) }}>
			    {{ row.content }}
			  </div>
			  <hr>
			{% endfor %}
		</div>
	</div>
</div>