{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup templates
 */
#}


  <div class="main-wrapper">

    <header class="nav-type-1 transparent">

      <nav class="navbar navbar-static-top">
        <div class="navigation">
          <div class="container-fluid semi-fluid relative">

            <div class="row">

              <div class="navbar-header">
                <!-- Logo -->
                <div class="logo-container">
                  <div class="logo-wrap">
                    <a href={{ front_page }}>
                      <img class="logo" src="/themes/ygs2016/logo-white.png" alt="logo">
                      <img class="logo-dark" src="/themes/ygs2016/logo.png" alt="logo">
                    </a>
                  </div>
                </div>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>

              </div> <!-- end navbar-header -->

              <div class="col-md-12 nav-wrap">


              {# Navigation (collapsible) #}
              {% if page.navigation_collapsible %}
                <div class="collapse navbar-collapse text-center" id="navbar-collapse">
                  {# {{ page.navigation_collapsible }} #}

                  <ul class="nav navbar-nav">
                    <li><a href={{ front_page }}>Home</a></li>
                    <li class="dropdown"><a href="/#services">Drupal Services</a>
                      <i class="fa fa-angle-down dropdown-toggle"></i>
                      <ul class="dropdown-menu">
                        <li><a href="/services/drupal-migration" class="is-active">Drupal Migration</a></li>
                        <li><a href="/services/drupal-server-migration">Drupal Server Migration</a></li>
                        <li><a href="/services/drupal-maintenance">Support &amp; Maintenance</a></li>
                        <li><a href="/services/drupal-development" >Drupal Development</a></li>
                        <li><a href="/services/drupal-theme-development" >Theme Development</a></li>
                        <li><a href="/services/drupal-module-development" >Module Development</a>
                       </li>
                      </ul>
                    </li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/about-us">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
              {% endif %}
              <!-- end collapse -->
              </div> <!-- end col -->
            </div> <!-- end row -->
          </div> <!-- end container -->
        </div> <!-- end navigation -->
      </nav> <!-- end navbar -->
    </header>

    <div class="content-wrapper oh">




      {# Content #}
        {% block content %}
          {{ page.content }}
        {% endblock %}

      <!-- Footer Type-1 -->
      <footer class="footer footer-type-1 bg-dark">
        <div class="container-fluid semi-fluid">
          <div class="footer-widgets">
            <div class="row">

             <div class="col-md-4 col-sm-6 col-xs-12 nopadding">
                <div class="widget footer-about-us">
                  <img class="logo" src="/themes/ygs2016/logo-white.png" alt="logo">
                  <p class="mb-0 mt-10">Drupal Service Provider</p>
                  <div class="social-icons dark rounded mt-20">
                    <a href="https://twitter.com/youngglobes"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/youngglobes/"><i class="fa fa-facebook"></i></a>
                    
                    <a href="https://www.linkedin.com/company/young-globes"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div> <!-- end about us -->

                <div class="col-md-4 col-sm-6 col-xs-12 nopadding">
                <div class="widget recent-posts">
                  <h5>US Office</h5>
                  <address class="footer-address">244, Fifth Avenue, Suite #2396
                <br>New York, NY - 10001</address>
                  <ul>
                            <li class="entry-li"><a href="tel:+1 646 768 8068">+1 (646)-768-8068</a></li>
                            <li class="entry-li"><a href="mailto:sevvel@youngglobes.com">sevvel@youngglobes.com</a></li>
                  </ul>
                </div>
              </div> <!-- end latest posts -->


              <div class="col-md-4 col-sm-6 col-xs-12 nopadding">
                <div class="widget footer-get-in-touch last">
                  <h5>Development Center</h5>
                   <address class="footer-address">No.34, First floor,<br> Peelamedu Industrial Estate, V.K.Road<br> Coimbatore - 641004, India </address>
                   <div><a href="tel:+91 77083 30017">IN : +91 770-833-0017</a></div>
                </div>
              </div> <!-- end stay in touch -->
       </footer> <!-- end footer -->

      <div id="back-to-top">
        <a href="#top"><i class="fa fa-angle-up"></i></a>
      </div>

    </div> <!-- end content wrapper -->
  </div> <!-- end main wrapper -->
