{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup templates
 */
#}
 <!-- Preloader -->
 {{ dump(logo) }}
  <div class="loader-mask">
    <div class="loader">Loading...</div>
  </div>

  <!-- Sidenav -->
  <section class="sidenav">
    <div class="logo-wrap">
      <a href="index.html">
        <img class="logo" src="/ygs/themes/ygs2016/img/logo_light.png" alt="logo">
      </a>
    </div>
    <h6 class="white mt-40">Reach Us</h6>
    <address class="info-address">Philippines, Afela inc.<br> Talay st. 65, PO Box 6200 </address>
    <p>Phone: <a href="tel:+1-888-1554-456-123">+ 1-888-1554-456-123</a></p>
    <p>Email: <a href="mailto:themesupport@gmail.com">themesupport@gmail.com</a></p>
    <h6 class="white mt-40">Useful Links</h6>
    <ul class="links-list nopadding">
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Blog</a></li>
    </ul>

    <div class="social-icons dark rounded mt-40">
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-google-plus"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-vimeo"></i></a>
    </div>
  </section>

  <div class="main-wrapper">

    <header class="nav-type-1">

      <div class="search-wrap">
        <div class="search-inner">
          <div class="search-cell">
            <form method="get">
              <div class="search-field-holder">
                <input type="search" class="form-control main-search-input" placeholder="Search for">
                <i class="ti-close search-close" id="search-close"></i>
              </div>
            </form>
          </div>
        </div>
      </div>

      <nav class="navbar navbar-static-top">
        <div class="navigation">
          <div class="container-fluid semi-fluid relative">

            <div class="row">

              <div class="navbar-header">
                <!-- Logo -->
                <div class="logo-container">
                  <div class="logo-wrap">
                    <a href={{ front_page }}>
                      <img class="logo" src="/ygs/themes/ygs2016/old_logo.png" alt="logo">
                      <img class="logo-dark" src="/ygs/themes/ygs2016/old_logo.png" alt="logo">
                    </a>
                  </div>
                </div>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>

              </div> <!-- end navbar-header -->

              <div class="col-md-12 nav-wrap">


              {# Navigation (collapsible) #}
              {% if page.navigation_collapsible %}
                <div class="collapse navbar-collapse text-center" id="navbar-collapse">
                  {{ page.navigation_collapsible }}
                </div>
              {% endif %}
              <!-- end collapse -->
              </div> <!-- end col -->

              <ul class="nav-right hidden-sm hidden-xs">



                <li class="nav-search-wrap">
                  <a href="#" class="nav-search search-trigger">
                    <i class="ti-search"></i>
                  </a>
                </li>

                <li class="nav-icon-trigger">
                  <a href="#" id="nav-icon">
                    <div class="nav-icon-inner">
                      <div class="nav-icon-wrap">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>

            </div> <!-- end row -->
          </div> <!-- end container -->
        </div> <!-- end navigation -->
      </nav> <!-- end navbar -->
    </header>

    <div class="content-wrapper oh">




      {# Content #}
        {% block content %}
          {{ page.content }}
        {% endblock %}

      <!-- Footer Type-1 -->
      <footer class="footer footer-type-1 bg-dark">
        <div class="container-fluid semi-fluid">
          <div class="footer-widgets">
            <div class="row">

              <div class="col-md-3 col-sm-6 col-xs-12 nopadding">
                <div class="widget footer-about-us">
                  <img class="logo" src="/ygs/themes/ygs2016/img/logo_light.png" alt="logo">
                  <p class="mb-0 mt-10">A-ha is a unique and modern Wordpress theme with super stunning design.</p>
                  <div class="social-icons dark rounded mt-20">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-vimeo"></i></a>
                  </div>
                </div>
              </div> <!-- end about us -->

              <div class="col-md-3 col-sm-6 col-xs-12 nopadding">
                <div class="widget footer-get-in-touch">
                  <h5>Get in Touch</h5>
                  <address class="footer-address">Philippines, Afela inc.<br> Talay st. 65, PO Box 6200 </address>
                  <p><a href="tel:+1-888-1554-456-123">+ 1-888-1554-456-123</a></p>
                  <p><a href="mailto:afelasupport@gmail.com">themesupport@gmail.com</a></p>
                </div>
              </div> <!-- end stay in touch -->

              <div class="col-md-3 col-sm-6 col-xs-12 nopadding">
                <div class="widget recent-posts">
                  <h5>Latest Posts</h5>
                  <div class="entry-list">
                    <ul>
                      <li class="entry-li">
                        <article class="post-small clearfix">
                          <div class="entry">
                            <h3 class="entry-title"><a href="magazine-single-article.html">6 Ways to Be More Productive</a></h3>
                          </div>
                        </article>
                      </li>
                      <li class="entry-li">
                        <article class="post-small clearfix">
                          <div class="entry">
                            <h3 class="entry-title"><a href="magazine-single-article.html">3 Tips to Align Your Startup</a></h3>
                          </div>
                        </article>
                      </li>
                      <li class="entry-li">
                        <article class="post-small clearfix">
                          <div class="entry">
                            <h3 class="entry-title"><a href="magazine-single-article.html">Bet smartphone in the world </a></h3>
                          </div>
                        </article>
                      </li>
                      <li class="entry-li">
                        <article class="post-small clearfix">
                          <div class="entry">
                            <h3 class="entry-title"><a href="magazine-single-article.html">Why emotional intelligence matters</a></h3>
                          </div>
                        </article>
                      </li>
                    </ul>
                  </div>
                </div>
              </div> <!-- end latest posts -->

              <div class="col-md-3 col-sm-6 col-xs-12 nopadding last">
                <div class="widget last">
                  <h5>Recent Works</h5>
                  <ul class="recent-works clearfix">
                    <li>
                      <a href="portfolio-single.html">
                        <img src="/ygs/themes/ygs2016/img/recent_works_1.jpg" alt="">
                      </a>
                    </li>
                    <li>
                      <a href="portfolio-single.html">
                        <img src="/ygs/themes/ygs2016/img/recent_works_2.jpg" alt="">
                      </a>
                    </li>
                    <li>
                      <a href="portfolio-single.html">
                        <img src="/ygs/themes/ygs2016/img/recent_works_3.jpg" alt="">
                      </a>
                    </li>
                    <li>
                      <a href="portfolio-single.html">
                        <img src="/ygs/themes/ygs2016/img/recent_works_4.jpg" alt="">
                      </a>
                    </li>
                    <li>
                      <a href="portfolio-single.html">
                        <img src="/ygs/themes/ygs2016/img/recent_works_5.jpg" alt="">
                      </a>
                    </li>
                    <li>
                      <a href="portfolio-single.html">
                        <img src="/ygs/themes/ygs2016/img/recent_works_6.jpg" alt="">
                      </a>
                    </li>
                  </ul>
                </div>
              </div> <!-- end recent works -->

            </div>
          </div>
        </div> <!-- end container -->

        <div class="bottom-footer">
          <div class="container">
            <div class="row">

              <div class="col-sm-12 copyright text-center">
                <span>
                  © 2016 A-ha Theme | Made by <a href="http://deothemes.com/">DeoThemes</a>
                </span>
              </div>

            </div>
          </div>
        </div> <!-- end bottom footer -->
      </footer> <!-- end footer -->


      <div id="back-to-top">
        <a href="#top"><i class="fa fa-angle-up"></i></a>
      </div>

    </div> <!-- end content wrapper -->
  </div> <!-- end main wrapper -->

