  <div class="main-wrapper">

    <header class="nav-type-1 transparent">

      <nav class="navbar navbar-static-top">
        <div class="navigation">
          <div class="container-fluid semi-fluid relative">

            <div class="row">

              <div class="navbar-header">
                <!-- Logo -->
                <div class="logo-container">
                  <div class="logo-wrap">
                    <a href={{ front_page }}>
                      <img class="logo" src="/themes/ygs2016/logo-white.png" alt="Young Globes white logo">
                      <img class="logo-dark" src="/themes/ygs2016/logo.png" alt="Young Globes logo">
                    </a>
                  </div>
                </div>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>

              </div> <!-- end navbar-header -->

              <div class="col-md-12 nav-wrap">


              {# Navigation (collapsible) #}
              {% if page.navigation_collapsible %}
                <div class="collapse navbar-collapse text-center" id="navbar-collapse">
                  {# {{ page.navigation_collapsible }} #}

                  <ul class="nav navbar-nav">
                    <li><a href={{ front_page }}>Home</a></li>
                    <li class="dropdown"><a href="/#services">Drupal Services</a>
                      <i class="fa fa-angle-down dropdown-toggle"></i>
                      <ul class="dropdown-menu">
                        <li><a href="/services/drupal-migration" class="is-active">Drupal Migration</a></li>
                        <li><a href="/services/drupal-server-migration">Drupal Server Migration</a></li>
                        <li><a href="/services/drupal-maintenance">Support &amp; Maintenance</a></li>
                        <li><a href="/services/drupal-development" >Drupal Development</a></li>
                        <li><a href="/services/drupal-theme-development" >Theme Development</a></li>
                        <li><a href="/services/drupal-module-development" >Module Development</a>
                       </li>
                      </ul>
                    </li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/about-us">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
              {% endif %}
              <!-- end collapse -->
              </div> <!-- end col -->
            </div> <!-- end row -->
          </div> <!-- end container -->
        </div> <!-- end navigation -->
      </nav> <!-- end navbar -->
    </header>
    <section>
        <div class="rev_slider_wrapper">
          <div class="rev_slider" id="slider2" data-version="5.0">
            <ul>
              <!-- SLIDE 1 -->
              <li data-fstransition="fade"
                data-transition="parallaxtoright"
                data-slotamount="1"
                data-masterspeed="1000"
                data-delay="8000"
                data-title="Creative Minimalism">

                <!-- MAIN IMAGE -->
                <img src="/themes/ygs2016/img/slider_images/home.jpg"
                  alt="homepage_slider"
                  data-bgrepeat="no-repeat"
                  data-bgfit="cover"
                  data-bgparallax="7"
                  class="rev-slidebg"
                  >

                                    <!-- LAYER NR. 1 -->
                <h1 class="tp-caption hero-text text-center"
                  data-x="center"
                  data-y="center"
                  data-voffset="['-40', '-40', '-40', '-40']"
                  data-fontsize="['80', '50' , '40', '30']"
                  data-lineheight="['100', '65', '50', '40']"
                  data-fontweight="600"
                  data-whitespace="[nowrap, nowrap, nowrap, nowrap]"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;opacity:0;"
                  data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;"
                  data-start="1000"
                  data-elementdelay="0.01">Hire Passionate Drupal Developers
                </h1>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption medium-text alt-font text-center"
                  data-x="center"
                  data-y="center"
                  data-voffset="[44,44,44,44]"
                  data-fontsize="[40,40,20,20]"
                  data-lineheight="[22,22,22,28]"
                  data-whitespace="[nowrap,nowrap,nowrap,normal]"
                  data-width="[auto,auto,auto,300]"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;opacity:0;"
                  data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;"
                  data-start="1000"
                  data-elementdelay="0.01">We want you to know more about us before hiring us
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption medium-text alt-font text-center"
                  data-x="center"
                  data-y="center"
                  data-voffset="[124,124,124,124]"
                  data-fontsize="[40,40,20,20]"
                  data-lineheight="[22,22,22,28]"
                  data-whitespace="[nowrap,nowrap,nowrap,normal]"
                  data-width="[auto,auto,auto,300]"
                  data-transform_idle="o:1;s:500"
                  data-transform_in="y:100;opacity:0;"
                  data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;"
                  data-start="1000"
                  data-elementdelay="0.01">
                  <a href="#services" class="btn btn-md btn-color btn-icon rounded">Services we offer</a>
                </div>


              </li>
            </ul>

          </div>
        </div>
      </section>
    <div class="content-wrapper oh">

     <!-- Revolution Slider -->


      <!-- Icon Boxes -->
      <section class="section-wrap icon-boxes pb-30 pb-sml-80 animated text-center bg-light" id="services">
        <div class="container">
          <h2 class="text-center mb-50">Drupal services we provide</h2>
          <div class="row items-grid">

            <div class="col-sm-4 mb-50">
              <div class="service-item-box style-3">
                <a href="/services/drupal-development">
                  <i class="icon icon-basic-webpage-img-txt"></i>
                </a>
                <div class="service-text">
                  <a href="/services/drupal-development"><h3>New Drupal website</h3></a>
                  <p>We can develop a new Drupal site based on your amazing ideas. We create sites  such as an ecommerce site, a site for your organization, a social networking site, a Blog, etc..<a href="/services/drupal-development">read more</a></p>
                </div>
              </div>
            </div> <!-- end service item -->

            <div class="col-sm-4 mb-50">
              <div class="service-item-box style-3">
                <a href="/services/drupal-migration">
                  <i class="icon icon-basic-tablet"></i>
                </a>
                <div class="service-text">
                  <a href="/services/drupal-migration"><h3>Drupal Migration/Upgrade</h3></a>
                  <p>We love to keep everything updated we wish the same for our customers. We are specialist in migrating contents from anywhere to Drupal. We also keep our client sites updated and secure..<a href="/services/drupal-migration">read more</a></p>
                </div>
              </div>
            </div> <!-- end service item -->

            <div class="col-sm-4 mb-50">
              <div class="service-item-box style-3">
                <a href="/services/drupal-maintenance">
                  <i class="icon icon-basic-cup"></i>
                </a>
                <div class="service-text">
                  <a href="/services/drupal-maintenance"><h3>24/7 Maintenance & Support</h3></a>
                  <p>This is an extra special package for all awesome Drupal site owners. Everyone want to keep their site updated but are afraid of the cost needed to maintain. We solve this pain of our customers with some unique strategies..<a href="/services/drupal-maintenance">read more</a></p>
                </div>
              </div>
            </div> <!-- end service item -->

            <div class="col-sm-4 mb-50">
              <div class="service-item-box style-3">
                <a href="/services/drupal-theme-development">
                  <i class="icon icon-basic-sheet-pen"></i>
                </a>
                <div class="service-text">
                  <a href="/services/drupal-theme-development"><h3>Drupal Theming</h3></a>
                  <p>Theming a CMS website is tricky as it needs to be dynamic for all user created contents. We have skilled themers in our hands that paints your site as you dream..<a href="/services/drupal-theme-development">read more</a></p>
                </div>
              </div>
            </div> <!-- end service item -->

            <div class="col-sm-4 mb-50">
              <div class="service-item-box style-3">
                <a href="/services/drupal-module-development">
                  <i class="icon icon-basic-paperplane"></i>
                </a>
                <div class="service-text">
                   <a href="/services/drupal-module-development"><h3>Drupal Module Development</h3></a>
                  <p>Drupal Modules are the core for any Drupal site to function. But not all your needs are fulfilled by Contributed modules, every site need some functionalities specific for them. Check out the special modules we created for our customers site..<a href="/services/drupal-module-development">read more</a></p>
                </div>
              </div>
            </div> <!-- end service item -->

            <div class="col-sm-4 mb-50 last">
              <div class="service-item-box style-3">
                <a href="/services/drupal-maintenance">
                  <i class="icon icon-basic-world"></i>
                </a>
                <div class="service-text">
                  <a href="/services/drupal-maintenance"><h3>Drupal Bug / Issue fixes</h3></a>
                  <p>We give priorities to bug fixes, they can ruin business. We have sherlocks that could debug any kind of issues in your website..<a href="/services/drupal-maintenance">read more</a></p>
                </div>
              </div>
            </div> <!-- end service item -->
          </div>

        </div>
      </section> <!-- end icon boxes -->

      {# Content #}
        {% block content %}
          {{ page.content }}
        {% endblock %}


      <!-- CTA style-2 -->
      <section class="call-to-action style-2 bg-light animated">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 text-center">
              <h3 class="sm-text-center mb-sml-20">Would you like to work with us?</h3>
              <a href="/contact" class="cta-button btn btn-lg btn-glow rounded btn-color"><span>Contact Us</span></a>
            </div>
          </div>
        </div>
      </section> <!-- end CTA style-2 -->



      <!-- Vertical Slider -->
      <section class="section-wrap bg-dark nopadding">
        <div class="container">
          <div class="row">
            <div class="col-md-4 mb-40 animated">
              <div class="heading-row mt-120">
                <p class="subheading">They truly do</p>
                <h2 class="heading large white">Why Customers Love Us</h2>
              </div>
              <p class="lead white">Only high and low points of life stay in our memories. We have helped our customers in such situations. When a site is completely broken, we brought it back from death. We completely modernized sites at an affordable price</p>
              <p class="lead white mb-40">We have created a drupal portal for our customer to manage all stores such as ebay, amazon, etc in one place! Doesn't that all sound amazing!!</p>
              <a href="/contact" class="cta-button btn btn-lg btn-glow rounded btn-color"><span>Work With Us</span></a>
            </div>
            <div class="col-md-7 col-md-offset-1 mt-140">
              <iframe width="100%" height="367" src="https://www.youtube.com/embed/11UYR8Y8gi0?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0"></iframe>
            </div>
          </div>
        </div>
      </section> <!-- end vertical slider -->


      <!-- Testimonials -->
              {# Testimonial #}
        {% block testimonial %}
          {{ page.testimonial }}
        {% endblock %}
 <!-- end testimonials -->


      <!-- CTA -->
      <section class="section-wrap call-to-action bg-light animated">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
              <h3>Would you like to talk with us?</h3>
              <p class="lead">We provide free Drupal consultation, so feel free to discuss about your Drupal project with us.</p>
              <div class="cta-buttons mt-30">
                <a href="/contact" class="btn btn-lg btn-color btn-glow rounded"><span>Contact Now</span></a>
              </div>
            </div>
          </div>
        </div>
      </section> <!-- end cta -->

      <!-- Footer Type-1 -->
      <footer class="footer footer-type-1 bg-dark">
        <div class="container-fluid semi-fluid">
          <div class="footer-widgets">
            <div class="row">

              <div class="col-md-4 col-sm-6 col-xs-12 nopadding">
                <div class="widget footer-about-us">
                  <img class="logo" src="/themes/ygs2016/logo-white.png" alt="Young Globes logo">
                  <p class="mb-0 mt-10">Drupal Service Provider</p>
                  <div class="social-icons dark rounded mt-20">
                    <a href="https://twitter.com/youngglobes"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/youngglobes/"><i class="fa fa-facebook"></i></a>
                 
                    <a href="https://www.linkedin.com/company/young-globes"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div> <!-- end about us -->

              <div class="col-md-4 col-sm-6 col-xs-12 nopadding">
                <div class="widget recent-posts">
                  <h5>US Office</h5>
                  <address class="footer-address">244, Fifth Avenue, Suite #2396
                <br>New York, NY - 10001</address>
                  <ul>
                            <li class="entry-li"><a href="tel:+1 646 768 8068">+1 (646)-768-8068</a></li>
                            <li class="entry-li"><a href="mailto:sevvel@youngglobes.com">sevvel@youngglobes.com</a></li>
                  </ul>
                </div>
              </div> <!-- end latest posts -->


              <div class="col-md-4 col-sm-6 col-xs-12 nopadding">
                <div class="widget footer-get-in-touch last">
                  <h5>Development Center</h5>
                   <address class="footer-address">No.34, First floor,<br> Peelamedu Industrial Estate, V.K.Road<br> Coimbatore - 641004, India </address>
                   <div><a href="tel:+91 77083 30017">IN : +91 770-833-0017</a></div>
                </div>
              </div> <!-- end stay in touch -->
       </footer> <!-- end footer -->


      <div id="back-to-top">
        <a href="#top"><i class="fa fa-angle-up"></i></a>
      </div>

    </div> <!-- end content wrapper -->
  </div> <!-- end main wrapper -->

