 <div class="work-item digital">
  <div class="work-container">
    <div class="work-img">
        <div class="bg-img-holder">
          <div class="bg-img" style="background: url({{ fields.field_image.content }});">
            <img src="{{ fields.field_image.content }}" alt="{{ fields.title.content }}">
          </div>
        </div>
        <div class="work-description">
          <h3>{{ fields.title.content }}</h3>
          {{ fields.body.content }}
          <br>
          <a href="{{ fields.field_website_link.content }}" class="cta-button btn btn-lg btn-glow rounded btn-color"><span>Visit site</span></a>
        </div>
    </div>
  </div>
</div>
