{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
      <section class="section-wrap our-team bg-light animated">
        <div class="container">

          <div class="row heading-row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <p class="subheading">Intelligent Community</p>
              <h2 class="heading large">Special Talents</h2>
            </div>
          </div>
           <div class="row">
             {% for row in rows %}
                {{ row.content }}
            {% endfor %}
          </div>
        </div>
      </section>

