{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
 <section class="section-wrap parallax-testimonials nopadding relative">

        <div class="relative">
          <div id="owl-testimonials" class="owl-carousel owl-theme light-arrows text-center">
           {% for row in rows %}
              {{ row.content }}
          {% endfor %}
          </div>

        </div>

        <div class="parallax" data-stellar-background-ratio="0.5"></div>
</section>
