{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}

      <!-- Blog Standard -->
      <section class="section-wrap blog-standard bg-light pb-50">
        <div class="container relative">
          <div class="row">

            <!-- content -->
            <div class="col-md-8 col-md-offset-2 post-content mb-50">
              {% for row in rows %}
                 {{ row.content }}
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
