#header {
  box-sizing:border-box;-moz-box-sizing:border-box;
  z-index:3;
  position:fixed;
  top:0;
  width:100%;
  background:#F9B802;
  color:#000;
  text-align:center;
  -webkit-box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
  border-bottom:3px solid #000;
}

.parallax {
  position:relative;
  z-index:1;
  height:600px;
  -webkit-box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75);
-moz-box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75);
box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75);
}

#trans1 {
  background: url(../images/drupal-service.jpg) no-repeat fixed;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
}

#trans2 {
  background: url(../images/business-team-opt.jpg) no-repeat fixed;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: static;
}

.txt {
  font-size:45px;
  color:#000;
  width:auto;
  background: rgba(0, 174, 251, 0.5);
  /*background:rgba(249, 184, 2, 0.60);*/
  padding:5px 10px;
}
.txt.right {
  margin-top: 150px;
  /*margin-left: 10%;*/
  float: left;
  text-align:left;
  line-height: 1em;
}
.txt.left {
  float:left;
  text-align:left;
  margin: 150px 0 0 100px;
}

.txt.sub {
  /*background:#000;*/
  background:rgba(0, 174, 251, 0.5);
  font-size:25px;
  color:#000;
  margin: 0px;
}
.content {
  box-sizing:border-box;-moz-box-sizing:border-box;
  position:relative;
  z-index:2;
  background:#FFF;
  width:100%;

  margin:0;
  -webkit-box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
  text-align:left;
}

.content.right {
  text-align:right;
}

.content h2 { padding:0 25px; }
.content p { padding:0 50px; }

#footer {
  text-align: center;
  padding: 20px 0 20px;
  box-sizing:border-box;-moz-box-sizing:border-box;
  position:relative;
  z-index:2;
  background:#FFF;
  width:100%;
  height:auto;
  margin:0;
   -webkit-box-shadow: 90px 6px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 90px 6px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 90px 6px 5px rgba(50, 50, 50, 0.75);
}


  
