.service-detail ul {
    position: relative;
    padding: 0;
    list-style: none;
}

.service-detail ul:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 47px;
    width: 2px;
    margin-left: -10px;
    background-color: rgba(0, 174, 251, 0.5);
}

.service-detail ul a:hover {
  color: #fff
}

.service-detail ul>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}
 .service-detail ul>li .field--name-field-title{
    color: #0099e5;
    font-size: 24px;
    padding: 10px 0;
 }
.service-detail ul>li .field--name-field-image img{
    border-radius: 50%;
}
.service-detail ul>li:before,
.service-detail ul>li:after {
    content: " ";
    display: table;
}

.service-detail ul>li:after {
    clear: both;
}

.service-detail ul>li:nth-child(even) div:nth-child(n+2){ 
    float: right;
    width: 40%;
    position: relative;
    padding: 0 20px 0 100px;
    text-align: left;
}

.service-detail ul>li:nth-child(even) div:nth-child(n+2) {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.service-detail ul>li:nth-child(even) div:nth-child(n+2):after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.service-detail ul>li .field--name-field-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 170px;
    height: 80px;
    margin-left: 0;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    color: #fff;
}

.service-detail ul>li .field--name-field-image h3 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.service-detail ul>li:nth-child(even) div:nth-child(n+2) {
    float: left;
    padding: 0 20px 0 100px;
    text-align: left;
}
.service-detail ul>li:nth-child(even) div:nth-child(3){
    clear: right;
}

.service-detail ul>li:nth-child(odd) div:nth-child(3){
    clear: left;
}
.service-detail ul>li:nth-child(even) div:nth-child(n+2):before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.service-detail ul>li:nth-child(even) div:nth-child(n+2):after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.service-detail ul>li:last-child {
    margin-bottom: 0;
}

.service-detail ul .timeline-heading h3 {
    margin-top: 0;
    color: inherit;
}

.service-detail ul .timeline-heading h3.subheading {
    text-transform: none;
    line-height: 30px;
    margin-top: 5px;
}

.service-detail ul .timeline-heading span {
    color: #181a1c;
}

.service-detail ul .timeline-body>p,
.service-detail ul .timeline-body>ul {
    margin-bottom: 0;
}

@media only screen and (max-width: 480px){
    .service-detail ul:before{
        background: none;
    }
    .service-detail ul>li .field--name-field-title{
        color: #0099e5;
        font-size: 20px;
        text-align: center;
    }
    .service-detail ul > li:nth-child(2n) div:nth-child(2){
        text-align: center;
    }
    .service-detail ul>li .field--name-field-image{
        height: auto;
        position: relative;
    }
    .service-detail ul>li:nth-child(even) div:nth-child(n+2){
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .service-detail ul > li .field--name-field-image{
        margin-left: 25%;
    }
    .service-detail ul > li div:nth-child(n+2), .service-detail ul > li:nth-child(even) div:nth-child(n+2){
        left: 0;
        padding: 10px 10px;
    }
}

@media only screen and (min-width : 768px) {
    .service-detail ul:before {
        left: 50%;
    }

    .service-detail ul>li {
        margin-bottom: 75px;
        min-height: 100px;
    }

    .service-detail ul>li div:nth-child(n+2) {
        float: left;
        width: 40%;
        padding: 0;
        text-align: right;
    }

    .service-detail ul>li .field--name-field-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -55px;
    }

    .service-detail ul>li .timeline-image h3 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }

    .service-detail ul>li:nth-child(even) div:nth-child(n+2) {
        float: right;
        padding: 0;
        text-align: left;
    }

  .post-inner-content {
    padding: 15px 30px;
  }
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .service-detail ul>li {
        min-height: 150px;
    }

    .service-detail ul>li div:nth-child(n+2) {
        padding: 10px 0;
    }

    .service-detail ul>li .field--name-field-image {
        width: 150px;
        height: 150px;
        margin-left: -83px;
    }

    .service-detail ul>li .field--name-field-image h3 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .service-detail ul>li:nth-child(even) div:nth-child(n+2) {
        padding: 10px 0;
    }

  .newsletter button {
    margin: 0 0 0 20px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .thumbnail .more {
        margin-left: -40px;
        width: 80px;
        height: 80px;
        border-radius: 40px;
        line-height: 80px;
    }

    .service-detail ul>li {
        min-height: 170px;
    }

    .service-detail ul>li div:nth-child(n+2) {
        padding: 10px 20px 10px 0;
    }

    .service-detail ul>li .field--name-field-image {
        width: 170px;
        height: 170px;
        margin-left: -93px;
    }

    .service-detail ul>li .field--name-field-image h3 {
        margin-top: 40px;
    }

    .service-detail ul>li:nth-child(even) div:nth-child(n+2) {
        padding: 10px 0 10px 0;
    }
}