.service-container {
  background: url('../images/pattern.png');
  padding-top: 50px;
}

.service-detail {
  padding: 70px 0;
}

.service-detail a, .service-detail a:hover {
  color: #fff;
}

.service-detail .row {
  width: 90%;
  margin: 0 auto;
}

.service-detail  .fa:before {
   display: block;
    font-size: 100px;
    height: 150px;
    padding: 15%;
    text-align: center;
}
.service-detail .box .title {
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.4em;
}


.box {
  height:250px;
  padding: 0 20px;
  float:left;
  position: relative;
  margin-bottom: 30px
}

.box-content {
  display:none;
  padding:20px;
  width: 100%;
  height: 100%;
  background: #333;
  color:#ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

.box-overlay {
  text-align: center;
   background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828;
background-size:16px 16px;
    box-sizing: border-box;
    color: #fff;
    height: 100%;
    left: 0;
    margin: 0 20px;
    position: absolute;
    top: 0;
    width: 91%;
    z-index: 10;
    border-radius: 20px;
    box-shadow: 0 16px 6px -6px #777;
}

#drupal-services .box-overlay {
    cursor: pointer;
}

a.link {
  display:block;
  width: 100%;
  height: 100%;   
  position: absolute;
  top:0;
  left:0;
  z-index:15;   
}

/* custom css styling */
.box-content .box-wrapper {
  width: 100%;
  height: 100%;
  font-size:24px;
  display:block;
  padding:30px 0 10px 0;
  text-align:center;
  margin-bottom:10px;
  border:2px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.box-content span.name {
  display:block;
  text-align:center;
  font-family:georgia;
  font-style:italic;
  font-size:14px;
  font-weight:normal;
  margin-top:5px;
}

.box-content .row {
  margin-top:10px;
  font-size:12px;
  color:#ddd;
}



#nav {
  overflow:hidden;
  margin:15px auto;
  padding:0;
  list-style:none;
  width: 590px;
}
  #nav li {
    float:left;
    padding:5px;
    list-style:none;
    text-align:center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
  }
  
  #nav li a {
    text-decoration:none;
    color:#fff;
    display:block;
    width: 100%;
    padding:5px 10px;         
    background: #666;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;    
  }
  
    #nav li a:hover,
    #nav li.current a {
      background: #ccc;
      color:#666;
    }
    

#info {
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;        
background:#fcf8e3;
border:1px solid  #fbeed5;
width:70%;
max-width:900px;
margin:0 auto 20px auto;
font-family:arial;
font-size:12px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
}

#info .info-wrapper {
  padding:10px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;

}

#info a {
  color:#c09853;
  text-decoration:none;
}

#info p {
  margin:5px 0 0 0;
}   

.why-us-ul {
  font-size: 1.3em;
  line-height: 2;
  list-style-type: none;
  margin-bottom: 0;
  padding: 36px;
}

.why-us-ul .fa-li {
  color: #0099E5;
   top: 0.5em;
}

@media screen and (max-width:480px) {
  .sentence {
    padding: 0;
  }
  .why-us-ul {
    font-size: 1em;
  }
}

.scroll-down {
     bottom: 10%;
    clear: both;
    color: #fff;
    display: inline-block;
    font-size: 4em;
    left: 0;
    opacity: 0.7;
    position: absolute;
    text-align: center;
    width: 100%;
}

.blog-list {
  line-height: 1.5em;
  color: #181A1C;
}

.blog-list h2 {
  font-weight: bolder;
}

.blog-list .views-field-body {
  font-weight: lighter;
}

.blog-list a, .blog-list h2, .blog-list p {
  /*color: #0085a1;*/
}

.blog-list .field-submitted {
  font-size: 0.9em;
  color: gray;
}

.blog-list .site-heading {
  font-weight: bolder;
  padding: 150px 0;
  text-align: center;
  color: #fff;
}

.blog-list .site-heading h1 {
  font-size: 5em;
}

.blog-list .site-heading hr.small {
    border-width: 4px;
    max-width: 100px;
}
.blog-list .site-heading .subheading {
  font-size: 1.3em;
}

.blog-list .view-header {
  background-image: url("../images/blog-bg.jpg");
}

.blog-list .view-content {
  padding: 70px 0;
}

.blog-list {
  background-image: url('../images/restaurant_icons.png');
}

.blog-detail .post-heading {
  padding: 150px 0;
  color: #fff;
}

.blog-detail .post-heading h1 {
  font-size: 4em;
}

.blog-detail header {
  background-position: center center;
  background-size: cover;
}

.blog-detail .blog-content {
  font-size: 1.2em;
  line-height: 1.5em;
  padding: 70px 0;
}

.container-full {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

body {
  margin-top: 0;
}

body.toolbar-fixed.toolbar-horizontal.toolbar-tray-open .navbar-fixed-top {
  top: 39px;
}

/*Services Background banner images*/
.drupal-migration {
  background: rgba(0, 0, 0, 0) url("../images/migrate_banner_3.png") no-repeat fixed center top / cover ;
}
.drupal-commerce {
  background: rgba(0, 0, 0, 0) url("../images/commerce_banner.png") no-repeat fixed center top / cover ;
}
.drupal-theme-development {
  background: rgba(0, 0, 0, 0) url("../images/designing_banner.png") no-repeat fixed center top / cover ;
}
.drupal-development {
  background: rgba(0, 0, 0, 0) url("../images/web_dev_banner.png") no-repeat fixed center top / cover ;
}
.drupal-module-development {
  background: rgba(0, 0, 0, 0) url("../images/module_banner.png") no-repeat fixed center top / cover ;
}
.drupal-maintenance {
  background: rgba(0, 0, 0, 0) url("../images/support_banner.png") no-repeat fixed center top / cover ;
}
.wordpress-services {
  background: rgba(0, 0, 0, 0) url("../images/wordpress_banner.png") no-repeat fixed center top / cover ;
}
.magento-services {
  background: rgba(0, 0, 0, 0) url("../images/magento_banner_1.png") no-repeat fixed center top / cover ;
}

.menu.dropdown-menu > li {
    padding: 5px 0;
}

.navbar-nav > li:last-child > a {
  background: #0099e5 none repeat scroll 0 0;
    color: #000;
}

.view-service-detail-page .service-detail a, .view-service-detail-page  .service-detail a:hover {
  color: #337ab7;
}
