@font-face {
  font-family: 'pluton';
  src: url('../fonts/pluton.eot?94996303');
  src: url('../fonts/pluton.eot?94996303#iefix') format('embedded-opentype'),
       url('../fonts/pluton.woff?94996303') format('woff'),
       url('../fonts/pluton.ttf?94996303') format('truetype'),
       url('../fonts/pluton.svg?94996303#pluton') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quando';
  src: url('../fonts/Quando-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'pluton';
    src: url('../fonts/pluton.svg?94996303#pluton') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "pluton";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-glass:before { content: '\e800'; } /* '' */
.icon-music:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-mail-alt:before { content: '\e804'; } /* '' */
.icon-mail-squared:before { content: '\e805'; } /* '' */
.icon-heart:before { content: '\e806'; } /* '' */
.icon-heart-empty:before { content: '\e807'; } /* '' */
.icon-star:before { content: '\e808'; } /* '' */
.icon-star-empty:before { content: '\e809'; } /* '' */
.icon-star-half:before { content: '\e80a'; } /* '' */
.icon-star-half-alt:before { content: '\e80b'; } /* '' */
.icon-user:before { content: '\e80c'; } /* '' */
.icon-users:before { content: '\e80d'; } /* '' */
.icon-male:before { content: '\e80e'; } /* '' */
.icon-female:before { content: '\e80f'; } /* '' */
.icon-child:before { content: '\e810'; } /* '' */
.icon-video:before { content: '\e811'; } /* '' */
.icon-videocam:before { content: '\e812'; } /* '' */
.icon-picture:before { content: '\e813'; } /* '' */
.icon-camera:before { content: '\e814'; } /* '' */
.icon-camera-alt:before { content: '\e815'; } /* '' */
.icon-th-large:before { content: '\e816'; } /* '' */
.icon-th:before { content: '\e817'; } /* '' */
.icon-th-list:before { content: '\e818'; } /* '' */
.icon-ok:before { content: '\e819'; } /* '' */
.icon-ok-circled:before { content: '\e81a'; } /* '' */
.icon-ok-circled2:before { content: '\e81b'; } /* '' */
.icon-ok-squared:before { content: '\e81c'; } /* '' */
.icon-cancel:before { content: '\e81d'; } /* '' */
.icon-cancel-circled:before { content: '\e81e'; } /* '' */
.icon-cancel-circled2:before { content: '\e81f'; } /* '' */
.icon-plus:before { content: '\e820'; } /* '' */
.icon-plus-circled:before { content: '\e821'; } /* '' */
.icon-plus-squared:before { content: '\e822'; } /* '' */
.icon-plus-squared-alt:before { content: '\e823'; } /* '' */
.icon-minus:before { content: '\e824'; } /* '' */
.icon-minus-circled:before { content: '\e825'; } /* '' */
.icon-minus-squared:before { content: '\e826'; } /* '' */
.icon-minus-squared-alt:before { content: '\e827'; } /* '' */
.icon-help:before { content: '\e828'; } /* '' */
.icon-help-circled:before { content: '\e829'; } /* '' */
.icon-info-circled:before { content: '\e82a'; } /* '' */
.icon-info:before { content: '\e82b'; } /* '' */
.icon-home:before { content: '\e82c'; } /* '' */
.icon-link:before { content: '\e82d'; } /* '' */
.icon-unlink:before { content: '\e82e'; } /* '' */
.icon-link-ext:before { content: '\e82f'; } /* '' */
.icon-link-ext-alt:before { content: '\e830'; } /* '' */
.icon-attach:before { content: '\e831'; } /* '' */
.icon-lock:before { content: '\e832'; } /* '' */
.icon-lock-open:before { content: '\e833'; } /* '' */
.icon-lock-open-alt:before { content: '\e834'; } /* '' */
.icon-pin:before { content: '\e835'; } /* '' */
.icon-eye:before { content: '\e836'; } /* '' */
.icon-eye-off:before { content: '\e837'; } /* '' */
.icon-tag:before { content: '\e838'; } /* '' */
.icon-tags:before { content: '\e839'; } /* '' */
.icon-bookmark:before { content: '\e83a'; } /* '' */
.icon-bookmark-empty:before { content: '\e83b'; } /* '' */
.icon-flag:before { content: '\e83c'; } /* '' */
.icon-flag-empty:before { content: '\e83d'; } /* '' */
.icon-flag-checkered:before { content: '\e83e'; } /* '' */
.icon-thumbs-up:before { content: '\e83f'; } /* '' */
.icon-thumbs-down:before { content: '\e840'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e841'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e842'; } /* '' */
.icon-download:before { content: '\e843'; } /* '' */
.icon-upload:before { content: '\e844'; } /* '' */
.icon-download-cloud:before { content: '\e845'; } /* '' */
.icon-upload-cloud:before { content: '\e846'; } /* '' */
.icon-reply:before { content: '\e847'; } /* '' */
.icon-reply-all:before { content: '\e848'; } /* '' */
.icon-forward:before { content: '\e849'; } /* '' */
.icon-quote-left:before { content: '\e84a'; } /* '' */
.icon-quote-right:before { content: '\e84b'; } /* '' */
.icon-code:before { content: '\e84c'; } /* '' */
.icon-export:before { content: '\e84d'; } /* '' */
.icon-export-alt:before { content: '\e84e'; } /* '' */
.icon-share:before { content: '\e84f'; } /* '' */
.icon-share-squared:before { content: '\e850'; } /* '' */
.icon-pencil:before { content: '\e851'; } /* '' */
.icon-pencil-squared:before { content: '\e852'; } /* '' */
.icon-edit:before { content: '\e853'; } /* '' */
.icon-print:before { content: '\e854'; } /* '' */
.icon-retweet:before { content: '\e855'; } /* '' */
.icon-keyboard:before { content: '\e856'; } /* '' */
.icon-gamepad:before { content: '\e857'; } /* '' */
.icon-comment:before { content: '\e858'; } /* '' */
.icon-chat:before { content: '\e859'; } /* '' */
.icon-comment-empty:before { content: '\e85a'; } /* '' */
.icon-chat-empty:before { content: '\e85b'; } /* '' */
.icon-bell:before { content: '\e85c'; } /* '' */
.icon-bell-alt:before { content: '\e85d'; } /* '' */
.icon-bell-off:before { content: '\e85e'; } /* '' */
.icon-bell-off-empty:before { content: '\e85f'; } /* '' */
.icon-attention-alt:before { content: '\e860'; } /* '' */
.icon-attention:before { content: '\e861'; } /* '' */
.icon-attention-circled:before { content: '\e862'; } /* '' */
.icon-location:before { content: '\e863'; } /* '' */
.icon-direction:before { content: '\e864'; } /* '' */
.icon-compass:before { content: '\e865'; } /* '' */
.icon-trash:before { content: '\e866'; } /* '' */
.icon-trash-empty:before { content: '\e867'; } /* '' */
.icon-doc:before { content: '\e868'; } /* '' */
.icon-docs:before { content: '\e869'; } /* '' */
.icon-doc-text:before { content: '\e86a'; } /* '' */
.icon-doc-inv:before { content: '\e86b'; } /* '' */
.icon-doc-text-inv:before { content: '\e86c'; } /* '' */
.icon-file-pdf:before { content: '\e86d'; } /* '' */
.icon-file-word:before { content: '\e86e'; } /* '' */
.icon-file-excel:before { content: '\e86f'; } /* '' */
.icon-file-powerpoint:before { content: '\e870'; } /* '' */
.icon-file-image:before { content: '\e871'; } /* '' */
.icon-file-archive:before { content: '\e872'; } /* '' */
.icon-file-audio:before { content: '\e873'; } /* '' */
.icon-file-video:before { content: '\e874'; } /* '' */
.icon-file-code:before { content: '\e875'; } /* '' */
.icon-folder:before { content: '\e876'; } /* '' */
.icon-folder-open:before { content: '\e877'; } /* '' */
.icon-folder-empty:before { content: '\e878'; } /* '' */
.icon-folder-open-empty:before { content: '\e879'; } /* '' */
.icon-box:before { content: '\e87a'; } /* '' */
.icon-rss:before { content: '\e87b'; } /* '' */
.icon-rss-squared:before { content: '\e87c'; } /* '' */
.icon-phone:before { content: '\e87d'; } /* '' */
.icon-phone-squared:before { content: '\e87e'; } /* '' */
.icon-fax:before { content: '\e87f'; } /* '' */
.icon-menu:before { content: '\e880'; } /* '' */
.icon-cog:before { content: '\e881'; } /* '' */
.icon-cog-alt:before { content: '\e882'; } /* '' */
.icon-wrench:before { content: '\e883'; } /* '' */
.icon-sliders:before { content: '\e884'; } /* '' */
.icon-basket:before { content: '\e885'; } /* '' */
.icon-calendar:before { content: '\e886'; } /* '' */
.icon-calendar-empty:before { content: '\e887'; } /* '' */
.icon-login:before { content: '\e888'; } /* '' */
.icon-logout:before { content: '\e889'; } /* '' */
.icon-mic:before { content: '\e88a'; } /* '' */
.icon-mute:before { content: '\e88b'; } /* '' */
.icon-volume-off:before { content: '\e88c'; } /* '' */
.icon-volume-down:before { content: '\e88d'; } /* '' */
.icon-volume-up:before { content: '\e88e'; } /* '' */
.icon-headphones:before { content: '\e88f'; } /* '' */
.icon-clock:before { content: '\e890'; } /* '' */
.icon-lightbulb:before { content: '\e891'; } /* '' */
.icon-block:before { content: '\e892'; } /* '' */
.icon-resize-full:before { content: '\e893'; } /* '' */
.icon-resize-full-alt:before { content: '\e894'; } /* '' */
.icon-resize-small:before { content: '\e895'; } /* '' */
.icon-resize-vertical:before { content: '\e896'; } /* '' */
.icon-resize-horizontal:before { content: '\e897'; } /* '' */
.icon-move:before { content: '\e898'; } /* '' */
.icon-zoom-in:before { content: '\e899'; } /* '' */
.icon-zoom-out:before { content: '\e89a'; } /* '' */
.icon-down-circled2:before { content: '\e89b'; } /* '' */
.icon-up-circled2:before { content: '\e89c'; } /* '' */
.icon-left-circled2:before { content: '\e89d'; } /* '' */
.icon-right-circled2:before { content: '\e89e'; } /* '' */
.icon-down-dir:before { content: '\e89f'; } /* '' */
.icon-up-dir:before { content: '\e8a0'; } /* '' */
.icon-left-dir:before { content: '\e8a1'; } /* '' */
.icon-right-dir:before { content: '\e8a2'; } /* '' */
.icon-down-open:before { content: '\e8a3'; } /* '' */
.icon-left-open:before { content: '\e8a4'; } /* '' */
.icon-right-open:before { content: '\e8a5'; } /* '' */
.icon-up-open:before { content: '\e8a6'; } /* '' */
.icon-angle-left:before { content: '\e8a7'; } /* '' */
.icon-angle-right:before { content: '\e8a8'; } /* '' */
.icon-angle-up:before { content: '\e8a9'; } /* '' */
.icon-angle-down:before { content: '\e8aa'; } /* '' */
.icon-angle-circled-left:before { content: '\e8ab'; } /* '' */
.icon-angle-circled-right:before { content: '\e8ac'; } /* '' */
.icon-angle-circled-up:before { content: '\e8ad'; } /* '' */
.icon-angle-circled-down:before { content: '\e8ae'; } /* '' */
.icon-angle-double-left:before { content: '\e8af'; } /* '' */
.icon-angle-double-right:before { content: '\e8b0'; } /* '' */
.icon-angle-double-up:before { content: '\e8b1'; } /* '' */
.icon-angle-double-down:before { content: '\e8b2'; } /* '' */
.icon-down:before { content: '\e8b3'; } /* '' */
.icon-left:before { content: '\e8b4'; } /* '' */
.icon-right:before { content: '\e8b5'; } /* '' */
.icon-up:before { content: '\e8b6'; } /* '' */
.icon-down-big:before { content: '\e8b7'; } /* '' */
.icon-left-big:before { content: '\e8b8'; } /* '' */
.icon-right-big:before { content: '\e8b9'; } /* '' */
.icon-up-big:before { content: '\e8ba'; } /* '' */
.icon-right-hand:before { content: '\e8bb'; } /* '' */
.icon-left-hand:before { content: '\e8bc'; } /* '' */
.icon-up-hand:before { content: '\e8bd'; } /* '' */
.icon-down-hand:before { content: '\e8be'; } /* '' */
.icon-left-circled:before { content: '\e8bf'; } /* '' */
.icon-right-circled:before { content: '\e8c0'; } /* '' */
.icon-up-circled:before { content: '\e8c1'; } /* '' */
.icon-down-circled:before { content: '\e8c2'; } /* '' */
.icon-cw:before { content: '\e8c3'; } /* '' */
.icon-ccw:before { content: '\e8c4'; } /* '' */
.icon-arrows-cw:before { content: '\e8c5'; } /* '' */
.icon-level-up:before { content: '\e8c6'; } /* '' */
.icon-level-down:before { content: '\e8c7'; } /* '' */
.icon-shuffle:before { content: '\e8c8'; } /* '' */
.icon-exchange:before { content: '\e8c9'; } /* '' */
.icon-history:before { content: '\e8ca'; } /* '' */
.icon-expand:before { content: '\e8cb'; } /* '' */
.icon-collapse:before { content: '\e8cc'; } /* '' */
.icon-expand-right:before { content: '\e8cd'; } /* '' */
.icon-collapse-left:before { content: '\e8ce'; } /* '' */
.icon-play:before { content: '\e8cf'; } /* '' */
.icon-play-circled:before { content: '\e8d0'; } /* '' */
.icon-play-circled2:before { content: '\e8d1'; } /* '' */
.icon-stop:before { content: '\e8d2'; } /* '' */
.icon-pause:before { content: '\e8d3'; } /* '' */
.icon-to-end:before { content: '\e8d4'; } /* '' */
.icon-to-end-alt:before { content: '\e8d5'; } /* '' */
.icon-to-start:before { content: '\e8d6'; } /* '' */
.icon-to-start-alt:before { content: '\e8d7'; } /* '' */
.icon-fast-fw:before { content: '\e8d8'; } /* '' */
.icon-fast-bw:before { content: '\e8d9'; } /* '' */
.icon-eject:before { content: '\e8da'; } /* '' */
.icon-target:before { content: '\e8db'; } /* '' */
.icon-signal:before { content: '\e8dc'; } /* '' */
.icon-wifi:before { content: '\e8dd'; } /* '' */
.icon-award:before { content: '\e8de'; } /* '' */
.icon-desktop:before { content: '\e8df'; } /* '' */
.icon-laptop:before { content: '\e8e0'; } /* '' */
.icon-tablet:before { content: '\e8e1'; } /* '' */
.icon-mobile:before { content: '\e8e2'; } /* '' */
.icon-inbox:before { content: '\e8e3'; } /* '' */
.icon-globe:before { content: '\e8e4'; } /* '' */
.icon-sun:before { content: '\e8e5'; } /* '' */
.icon-cloud:before { content: '\e8e6'; } /* '' */
.icon-flash:before { content: '\e8e7'; } /* '' */
.icon-moon:before { content: '\e8e8'; } /* '' */
.icon-umbrella:before { content: '\e8e9'; } /* '' */
.icon-flight:before { content: '\e8ea'; } /* '' */
.icon-fighter-jet:before { content: '\e8eb'; } /* '' */
.icon-paper-plane:before { content: '\e8ec'; } /* '' */
.icon-paper-plane-empty:before { content: '\e8ed'; } /* '' */
.icon-space-shuttle:before { content: '\e8ee'; } /* '' */
.icon-leaf:before { content: '\e8ef'; } /* '' */
.icon-font:before { content: '\e8f0'; } /* '' */
.icon-bold:before { content: '\e8f1'; } /* '' */
.icon-italic:before { content: '\e8f2'; } /* '' */
.icon-header:before { content: '\e8f3'; } /* '' */
.icon-paragraph:before { content: '\e8f4'; } /* '' */
.icon-text-height:before { content: '\e8f5'; } /* '' */
.icon-text-width:before { content: '\e8f6'; } /* '' */
.icon-align-left:before { content: '\e8f7'; } /* '' */
.icon-align-center:before { content: '\e8f8'; } /* '' */
.icon-align-right:before { content: '\e8f9'; } /* '' */
.icon-align-justify:before { content: '\e8fa'; } /* '' */
.icon-list:before { content: '\e8fb'; } /* '' */
.icon-indent-left:before { content: '\e8fc'; } /* '' */
.icon-indent-right:before { content: '\e8fd'; } /* '' */
.icon-list-bullet:before { content: '\e8fe'; } /* '' */
.icon-list-numbered:before { content: '\e8ff'; } /* '' */
.icon-strike:before { content: '\e900'; } /* '' */
.icon-underline:before { content: '\e901'; } /* '' */
.icon-superscript:before { content: '\e902'; } /* '' */
.icon-subscript:before { content: '\e903'; } /* '' */
.icon-table:before { content: '\e904'; } /* '' */
.icon-columns:before { content: '\e905'; } /* '' */
.icon-crop:before { content: '\e906'; } /* '' */
.icon-scissors:before { content: '\e907'; } /* '' */
.icon-paste:before { content: '\e908'; } /* '' */
.icon-briefcase:before { content: '\e909'; } /* '' */
.icon-suitcase:before { content: '\e90a'; } /* '' */
.icon-ellipsis:before { content: '\e90b'; } /* '' */
.icon-ellipsis-vert:before { content: '\e90c'; } /* '' */
.icon-off:before { content: '\e90d'; } /* '' */
.icon-road:before { content: '\e90e'; } /* '' */
.icon-list-alt:before { content: '\e90f'; } /* '' */
.icon-qrcode:before { content: '\e910'; } /* '' */
.icon-barcode:before { content: '\e911'; } /* '' */
.icon-book:before { content: '\e912'; } /* '' */
.icon-ajust:before { content: '\e913'; } /* '' */
.icon-tint:before { content: '\e914'; } /* '' */
.icon-toggle-off:before { content: '\e915'; } /* '' */
.icon-toggle-on:before { content: '\e916'; } /* '' */
.icon-check:before { content: '\e917'; } /* '' */
.icon-check-empty:before { content: '\e918'; } /* '' */
.icon-circle:before { content: '\e919'; } /* '' */
.icon-circle-empty:before { content: '\e91a'; } /* '' */
.icon-circle-thin:before { content: '\e91b'; } /* '' */
.icon-circle-notch:before { content: '\e91c'; } /* '' */
.icon-dot-circled:before { content: '\e91d'; } /* '' */
.icon-asterisk:before { content: '\e91e'; } /* '' */
.icon-gift:before { content: '\e91f'; } /* '' */
.icon-fire:before { content: '\e920'; } /* '' */
.icon-magnet:before { content: '\e921'; } /* '' */
.icon-chart-bar:before { content: '\e922'; } /* '' */
.icon-chart-area:before { content: '\e923'; } /* '' */
.icon-chart-pie:before { content: '\e924'; } /* '' */
.icon-chart-line:before { content: '\e925'; } /* '' */
.icon-ticket:before { content: '\e926'; } /* '' */
.icon-credit-card:before { content: '\e927'; } /* '' */
.icon-floppy:before { content: '\e928'; } /* '' */
.icon-megaphone:before { content: '\e929'; } /* '' */
.icon-hdd:before { content: '\e92a'; } /* '' */
.icon-key:before { content: '\e92b'; } /* '' */
.icon-fork:before { content: '\e92c'; } /* '' */
.icon-rocket:before { content: '\e92d'; } /* '' */
.icon-bug:before { content: '\e92e'; } /* '' */
.icon-certificate:before { content: '\e92f'; } /* '' */
.icon-tasks:before { content: '\e930'; } /* '' */
.icon-filter:before { content: '\e931'; } /* '' */
.icon-beaker:before { content: '\e932'; } /* '' */
.icon-magic:before { content: '\e933'; } /* '' */
.icon-cab:before { content: '\e934'; } /* '' */
.icon-taxi:before { content: '\e935'; } /* '' */
.icon-truck:before { content: '\e936'; } /* '' */
.icon-bus:before { content: '\e937'; } /* '' */
.icon-bicycle:before { content: '\e938'; } /* '' */
.icon-money:before { content: '\e939'; } /* '' */
.icon-euro:before { content: '\e93a'; } /* '' */
.icon-pound:before { content: '\e93b'; } /* '' */
.icon-dollar:before { content: '\e93c'; } /* '' */
.icon-rupee:before { content: '\e93d'; } /* '' */
.icon-yen:before { content: '\e93e'; } /* '' */
.icon-rouble:before { content: '\e93f'; } /* '' */
.icon-shekel:before { content: '\e940'; } /* '' */
.icon-try:before { content: '\e941'; } /* '' */
.icon-won:before { content: '\e942'; } /* '' */
.icon-bitcoin:before { content: '\e943'; } /* '' */
.icon-sort:before { content: '\e944'; } /* '' */
.icon-sort-down:before { content: '\e945'; } /* '' */
.icon-sort-up:before { content: '\e946'; } /* '' */
.icon-sort-alt-up:before { content: '\e947'; } /* '' */
.icon-sort-alt-down:before { content: '\e948'; } /* '' */
.icon-sort-name-up:before { content: '\e949'; } /* '' */
.icon-sort-name-down:before { content: '\e94a'; } /* '' */
.icon-sort-number-up:before { content: '\e94b'; } /* '' */
.icon-sort-number-down:before { content: '\e94c'; } /* '' */
.icon-hammer:before { content: '\e94d'; } /* '' */
.icon-gauge:before { content: '\e94e'; } /* '' */
.icon-sitemap:before { content: '\e94f'; } /* '' */
.icon-spinner:before { content: '\e950'; } /* '' */
.icon-coffee:before { content: '\e951'; } /* '' */
.icon-food:before { content: '\e952'; } /* '' */
.icon-beer:before { content: '\e953'; } /* '' */
.icon-user-md:before { content: '\e954'; } /* '' */
.icon-stethoscope:before { content: '\e955'; } /* '' */
.icon-ambulance:before { content: '\e956'; } /* '' */
.icon-medkit:before { content: '\e957'; } /* '' */
.icon-h-sigh:before { content: '\e958'; } /* '' */
.icon-hospital:before { content: '\e959'; } /* '' */
.icon-building:before { content: '\e95a'; } /* '' */
.icon-building-filled:before { content: '\e95b'; } /* '' */
.icon-bank:before { content: '\e95c'; } /* '' */
.icon-smile:before { content: '\e95d'; } /* '' */
.icon-frown:before { content: '\e95e'; } /* '' */
.icon-meh:before { content: '\e95f'; } /* '' */
.icon-anchor:before { content: '\e960'; } /* '' */
.icon-terminal:before { content: '\e961'; } /* '' */
.icon-eraser:before { content: '\e962'; } /* '' */
.icon-puzzle:before { content: '\e963'; } /* '' */
.icon-shield:before { content: '\e964'; } /* '' */
.icon-extinguisher:before { content: '\e965'; } /* '' */
.icon-bullseye:before { content: '\e966'; } /* '' */
.icon-wheelchair:before { content: '\e967'; } /* '' */
.icon-language:before { content: '\e968'; } /* '' */
.icon-graduation-cap:before { content: '\e969'; } /* '' */
.icon-paw:before { content: '\e96a'; } /* '' */
.icon-spoon:before { content: '\e96b'; } /* '' */
.icon-cube:before { content: '\e96c'; } /* '' */
.icon-cubes:before { content: '\e96d'; } /* '' */
.icon-recycle:before { content: '\e96e'; } /* '' */
.icon-tree:before { content: '\e96f'; } /* '' */
.icon-database:before { content: '\e970'; } /* '' */
.icon-lifebuoy:before { content: '\e971'; } /* '' */
.icon-rebel:before { content: '\e972'; } /* '' */
.icon-empire:before { content: '\e973'; } /* '' */
.icon-bomb:before { content: '\e974'; } /* '' */
.icon-soccer-ball:before { content: '\e975'; } /* '' */
.icon-tty:before { content: '\e976'; } /* '' */
.icon-binoculars:before { content: '\e977'; } /* '' */
.icon-plug:before { content: '\e978'; } /* '' */
.icon-newspaper:before { content: '\e979'; } /* '' */
.icon-calc:before { content: '\e97a'; } /* '' */
.icon-copyright:before { content: '\e97b'; } /* '' */
.icon-at:before { content: '\e97c'; } /* '' */
.icon-eyedropper:before { content: '\e97d'; } /* '' */
.icon-brush:before { content: '\e97e'; } /* '' */
.icon-birthday:before { content: '\e97f'; } /* '' */
.icon-cc-visa:before { content: '\e980'; } /* '' */
.icon-cc-mastercard:before { content: '\e981'; } /* '' */
.icon-cc-discover:before { content: '\e982'; } /* '' */
.icon-cc-amex:before { content: '\e983'; } /* '' */
.icon-cc-paypal:before { content: '\e984'; } /* '' */
.icon-cc-stripe:before { content: '\e985'; } /* '' */
.icon-adn:before { content: '\e986'; } /* '' */
.icon-android:before { content: '\e987'; } /* '' */
.icon-angellist:before { content: '\e988'; } /* '' */
.icon-apple:before { content: '\e989'; } /* '' */
.icon-behance:before { content: '\e98a'; } /* '' */
.icon-behance-squared:before { content: '\e98b'; } /* '' */
.icon-bitbucket:before { content: '\e98c'; } /* '' */
.icon-bitbucket-squared:before { content: '\e98d'; } /* '' */
.icon-cc:before { content: '\e98e'; } /* '' */
.icon-codeopen:before { content: '\e98f'; } /* '' */
.icon-css3:before { content: '\e990'; } /* '' */
.icon-delicious:before { content: '\e991'; } /* '' */
.icon-deviantart:before { content: '\e992'; } /* '' */
.icon-digg:before { content: '\e993'; } /* '' */
.icon-dribbble:before { content: '\e994'; } /* '' */
.icon-dropbox:before { content: '\e995'; } /* '' */
.icon-drupal:before { content: '\e996'; } /* '' */
.icon-facebook:before { content: '\e997'; } /* '' */
.icon-facebook-squared:before { content: '\e998'; } /* '' */
.icon-flickr:before { content: '\e999'; } /* '' */
.icon-foursquare:before { content: '\e99a'; } /* '' */
.icon-git-squared:before { content: '\e99b'; } /* '' */
.icon-git:before { content: '\e99c'; } /* '' */
.icon-github:before { content: '\e99d'; } /* '' */
.icon-github-squared:before { content: '\e99e'; } /* '' */
.icon-github-circled:before { content: '\e99f'; } /* '' */
.icon-gittip:before { content: '\e9a0'; } /* '' */
.icon-google:before { content: '\e9a1'; } /* '' */
.icon-gplus:before { content: '\e9a2'; } /* '' */
.icon-gplus-squared:before { content: '\e9a3'; } /* '' */
.icon-gwallet:before { content: '\e9a4'; } /* '' */
.icon-hacker-news:before { content: '\e9a5'; } /* '' */
.icon-html5:before { content: '\e9a6'; } /* '' */
.icon-instagram:before { content: '\e9a7'; } /* '' */
.icon-ioxhost:before { content: '\e9a8'; } /* '' */
.icon-joomla:before { content: '\e9a9'; } /* '' */
.icon-jsfiddle:before { content: '\e9aa'; } /* '' */
.icon-lastfm:before { content: '\e9ab'; } /* '' */
.icon-lastfm-squared:before { content: '\e9ac'; } /* '' */
.icon-linkedin-squared:before { content: '\e9ad'; } /* '' */
.icon-linux:before { content: '\e9ae'; } /* '' */
.icon-linkedin:before { content: '\e9af'; } /* '' */
.icon-maxcdn:before { content: '\e9b0'; } /* '' */
.icon-meanpath:before { content: '\e9b1'; } /* '' */
.icon-openid:before { content: '\e9b2'; } /* '' */
.icon-pagelines:before { content: '\e9b3'; } /* '' */
.icon-paypal:before { content: '\e9b4'; } /* '' */
.icon-pied-piper-squared:before { content: '\e9b5'; } /* '' */
.icon-pied-piper-alt:before { content: '\e9b6'; } /* '' */
.icon-pinterest-circled:before { content: '\e9b7'; } /* '' */
.icon-pinterest-squared:before { content: '\e9b8'; } /* '' */
.icon-qq:before { content: '\e9b9'; } /* '' */
.icon-reddit:before { content: '\e9ba'; } /* '' */
.icon-reddit-squared:before { content: '\e9bb'; } /* '' */
.icon-renren:before { content: '\e9bc'; } /* '' */
.icon-skype:before { content: '\e9bd'; } /* '' */
.icon-slack:before { content: '\e9be'; } /* '' */
.icon-slideshare:before { content: '\e9bf'; } /* '' */
.icon-spotify:before { content: '\e9c0'; } /* '' */
.icon-twitch:before { content: '\e9c1'; } /* '' */
.icon-twitter-squared:before { content: '\e9c2'; } /* '' */
.icon-twitter:before { content: '\e9c3'; } /* '' */
.icon-vimeo-squared:before { content: '\e9c4'; } /* '' */
.icon-vine:before { content: '\e9c5'; } /* '' */
.icon-vkontakte:before { content: '\e9c6'; } /* '' */
.icon-wechat:before { content: '\e9c7'; } /* '' */
.icon-weibo:before { content: '\e9c8'; } /* '' */
.icon-wordpress:before { content: '\e9c9'; } /* '' */
.icon-stackexchange:before { content: '\e9ca'; } /* '' */
.icon-stackoverflow:before { content: '\e9cb'; } /* '' */
.icon-steam:before { content: '\e9cc'; } /* '' */
.icon-steam-squared:before { content: '\e9cd'; } /* '' */
.icon-stumbleupon:before { content: '\e9ce'; } /* '' */
.icon-stumbleupon-circled:before { content: '\e9cf'; } /* '' */
.icon-tencent-weibo:before { content: '\e9d0'; } /* '' */
.icon-trello:before { content: '\e9d1'; } /* '' */
.icon-tumblr:before { content: '\e9d2'; } /* '' */
.icon-tumblr-squared:before { content: '\e9d3'; } /* '' */
.icon-xing:before { content: '\e9d4'; } /* '' */
.icon-xing-squared:before { content: '\e9d5'; } /* '' */
.icon-yelp:before { content: '\e9d6'; } /* '' */
.icon-youtube:before { content: '\e9d7'; } /* '' */
.icon-yahoo:before { content: '\e9d8'; } /* '' */
.icon-youtube-squared:before { content: '\e9d9'; } /* '' */
.icon-youtube-play:before { content: '\e9da'; } /* '' */
.icon-blank:before { content: '\e9db'; } /* '' */
.icon-lemon:before { content: '\e9dc'; } /* '' */
.icon-windows:before { content: '\e9dd'; } /* '' */
.icon-soundcloud:before { content: '\e9de'; } /* '' */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Typography
2.0 Elements
  2.1 Form
  2.2 Button
  2.3 Tag Cloud
  2.4 Social Icons
3.0 Layout
  3.1 Animations
4.0 Widgets
  4.1 Search Widget
5.0 Header
  5.1 Navbar
6.0 Homepage
  6.1 Section
  6.2 Slider
  6.3 Service
  6.4 Portfolio
  6.5 ABout
  6.6 Call to Action
  6.7 Client
  6.8 Blog
  6.9 Newsletter
  6.10 Contact
7.0 Content
  8.1 Posts and pages
  8.2 Asides
  8.3 Comments
8.0 Footer
9.0 Media
  9.1 Captions
  9.2 Galleries
10.0 Media Queries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Typography
--------------------------------------------------------------*/
body {
    font-family: 'Quando', sans-serif;
    line-height: 1.2em;
    font-size: 17px;
  -ms-word-wrap: break-word;
      word-wrap: break-word;
}

a {
    text-decoration: none !important;
}

/*--------------------------------------------------------------
2.0 Elements
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 Form
--------------------------------------------------------------*/
form {
  margin: 0 0 20px;
}

select,
textarea,
input  {
  display: inline-block;
  height: auto;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

textarea,
input  {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea:focus,
input:focus {
  border-color: rgba(82, 168, 236, 0.8) !important;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #b94a48;
  border-color: #ee5f5b !important;
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #e9322d !important;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
   -moz-box-shadow: 0 0 6px #f8b9b7;
      box-shadow: 0 0 6px #f8b9b7;
}

/*--------------------------------------------------------------
2.2 Button
--------------------------------------------------------------*/
.button,
.button:focus,
.button:visited {
    display: inline-block;
    border: 1px solid #181a1c;
    color :#181a1c;
    background-color: transparent;
    padding: 15px 30px;
    font-size: 17px;
    line-height: auto;
}

.button:hover,
.button:active{
    background-color: #181a1c;
    color: #fff;
}

.button-sp,
.button-sp:focus,
.button-sp:visited {
    border: none;
    background-color: #ffce1a;
    color: #181a1c;
}

.button-sp:hover,
.button-sp:active {
    background-color: #181a1c;
    color: #ffce1a;
}

.button-ps,
.button-ps:focus,
.button-ps:visited {
    border: none;
    background-color: #181a1c;
    color: #ffce1a;
}

.button-ps:hover,
.button-ps:active {
    background-color: #ffce1a;
    color: #181a1c;
}

/*--------------------------------------------------------------
2.3 Tag Cloud
--------------------------------------------------------------*/
.tagcloud a,
.tags-links .btn {
  margin: 0 5px 5px 0;
}

/*--------------------------------------------------------------
2.4 Social Icons
--------------------------------------------------------------*/
.social {
    list-style: none;
    float: none;
    position: relative;
    margin: 5px auto;
}

.social li {
    display: inline-block;
    line-height: 32px;
    font-family: 'Pluton';
    font-size: 32px;
    padding: 0 5px;
}

.social li a {
    margin: 0;
    padding: 0;
    height: 32px;
    color: #ffce1a;
}

.social li a:hover {
    color: #181a1c;
}

/*--------------------------------------------------------------
3.0 Layout
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

.centered {
    margin-left:auto;
    margin-right:auto;
    float: none;
    text-align: center;
}

.center {
    float: none !important;
    margin: 0 auto !important;
    text-align: center;
}

.highlighted-box {
    background: #f4f8f9;
    padding: 20px 30px;
}

.highlighted-box h1 {
    margin: 0;
}

.large-text {
    line-height: 1.2em;
    font-size: 30px;
    color: #181a1c !important;
    padding: 20px;
    margin-bottom: 20px;
}

.highlighted-box h1,
.highlighted-box p {
    color: #181a1c !important;
}

.circle-border {
    display: inline-block;
    -webkit-border-radius: 500px;
     -khtml-border-radius: 500px;
     -moz-border-radius: 500px;
          border-radius: 500px;
    border: 3px solid #fff;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: left;
}

.error {
    color: #cf0000;
    display: none;
}

.invisible {
    display: none;
    visibility: visible;
}

.triangle {
    margin: 0 auto;
    text-align: center;
    width: 0;
    height: 0;
    border-top: 30px solid #181a1c;
    border-left: 585px outset transparent;
    border-right: 585px outset transparent;
    position: relative;
}

/*--------------------------------------------------------------
3.1 Animations
--------------------------------------------------------------*/
.zoom-in {
    -webkit-transform: scale(1, 1);
       -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
     -o-transform: scale(1, 1);
    -webkit-transition: all 250ms ease;
       -moz-transition: all 250ms ease;
        -ms-transition: all 250ms ease;
         -o-transition: all 250ms ease;
        transition: all 250ms ease;
}

.zoom-in:hover {
    -webkit-transform: scale(1.1, 1.1);
       -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
         -o-transform: scale(1.1, 1.1);
}

/*--------------------------------------------------------------
4.0 Widgets
--------------------------------------------------------------*/
.widget {
  clear: both;
  margin: 0 0 1.5em;
}

.widget ul li {
  list-style: none;
}

.widget ul,
.widget ol {
  padding-left: 10px;
  margin: 0 0 10px 5px;
}

.widget ul li:before {
  font-family: 'Pluton';
  content: '\e820';
  padding-right: 10px;
}

.widget select {
  max-width: 100%;
}

/*--------------------------------------------------------------
4.1 Search Widget
--------------------------------------------------------------*/
.widget_search form {
  margin-top: 20px;
}

/*--------------------------------------------------------------
5.0 Header
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Navbar
--------------------------------------------------------------*/
.navbar {
    background: #181a1c;
    margin-bottom: 0;
    min-height: 70px;
  border-radius: 0;
}

.navbar-fixed-top {
    min-height: 60px;
    height: 60px;
    padding-top: 0;
}

.navbar-brand {
  padding: 10px 20px 10px;
}

.navbar .brand img {
    width: 120px;
    height: 40px;
}

.navbar .nav>li>a {
    text-transform: uppercase;
    line-height: auto;
    vertical-align: middle;
    margin: 10px 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: 1px solid #181a1c;
    box-shadow: none;
    font-size: 15px;
    text-shadow: none;
    color: #fff;
    transition: border-color 1s ease;
}

.navbar .nav>li:hover>a,
.navbar .nav>.active>a,
.navbar .nav>.active>a:hover,
.navbar .nav>.active>a:focus {
    border: 1px solid #fece1a;
    color: #fff;
    background-color: #181a1c;
    transition: border-color 1s ease;
}

.navbar-nav,
.nav>li>a:focus,
.nav>li>a:hover {
  background-color: #181a1c;
}

.navbar .nav>li>a {
  padding: 8px 15px;
}

.nav-pills {
    margin-bottom: 30px;
}

.nav-pills>li>a {
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 2px 5px 2px 0;
    padding: 8px 25px;
  line-height: 14px;
    border: 1px solid #181a1c;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  background: #181a1c;
  color: #fff;
}

.navbar .btn-navbar,
.navbar .btn-navbar:hover {
    border-radius:0;
    background:#fece1a;
    color: #000;
}

/*--------------------------------------------------------------
6.0 Homepage
--------------------------------------------------------------*/
/*--------------------------------------------------------------
6.1 Sections
--------------------------------------------------------------*/
.section {
    padding-bottom: 50px;
  color: #fff;
}


.section h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

.section h1 {
    margin: 10px;
}

.section a {
  color: #181a1c;
}

.section a:hover {
    color: #ffce1a;
    text-decoration: none;
}

.section p {
  padding: 10px;
    font-weight: 100;
    color: #fff;
}

.section .container {
    padding-top: 50px;
}

.section .title {
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
}

.section .title h1 {
    font-weight: normal;
    margin-bottom: 20px;
    padding: 0;
}

.section .title>p {
    font-size: 20px;
    color: #fff;
    font-weight: lighter;
}

.section .thumbnail {
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
    position: relative;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    text-align: center;
    background: #191a1c;
}

.section .thumbnail .more {
    display: block;
    z-index: 4;
    position: absolute;
    top: -100px;
    left: 50%;
    margin: 0 auto;
    margin-left: -41px;
    width: 80px;
    height: 80px;
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    line-height: 70px;
    text-align: center;
}

.section .thumbnail:hover .more {
    top: 40%;
    margin-top: -40px;
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3 s ease-out;
        -ms-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}

.section .thumbnail h3,
.section .thumbnail p {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 4;
}

.section .thumbnail h3 {
    color: #ffce1a;
    margin-top: 10px;
    font-size: 20px;
  line-height: 40px;
}

.section .thumbnail>p {
    padding-bottom: 20px;
}

.section .thumbnail .mask {
    opacity: 0.85;
    filter: alpha(opacity=85);
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #181a1c;
    position: absolute;
    -webkit-transition: all 0.2s ease-out;
       -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2 s ease-out;
        -ms-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
}

.section .thumbnail:hover .mask {
    top: 0;
}

.primary-section {
    background: #181a1c;
}

.primary-section .triangle {
    border-top: 40px solid #ffce1a;
}

.primary-section .title {
    border-bottom: 1px solid #fff;
}

.primary-section,
.primary-section h3,
.primary-section .title p {
    color: #fece1a;
}

.primary-section h1 {
    color: #fff;
}

.secondary-section {
    background: #fece1a;
}

.secondary-section .title {
    border-bottom: 1px solid #181A1C;
}

.secondary-section h1,
.secondary-section .title p {
    color: #181A1C;
}

.third-section {
    padding-bottom: 70px;
    background: #181a1c;
    border-top: 6px solid #fece1a;
}

.third-section .container {
    padding-top: 20px;
    position: relative;
}

.third-section .title {
    border-bottom: 1px solid #a1aab7;
    color: #fece1a;
}

.sub-section {
    margin-top: 30px;
}

.sub-section .title {
    padding: 0;
}

/*--------------------------------------------------------------
6.2 Slider
--------------------------------------------------------------*/
.da-slide  a {
  text-decoration: none;
}

/*--------------------------------------------------------------
6.3 Services
--------------------------------------------------------------*/
.service{
    margin-top: 20px;
}

.service,
.service h2 {
    padding-top: 15px;
}

.service p {
    padding: 0px 50px;
    height: 60px;
}

.service img {
    width: 150px;
    height: 150px;
}

/*--------------------------------------------------------------
6.4 Portfolio
--------------------------------------------------------------*/
.single-project {
    margin-bottom: 30px;
    background :#181a1c;
}

.single-project .container {
  padding-top: 0;
}

.single-project [class*="col"]:first-child {
  padding-left: 0;
}

.single-project img {
    max-width: 100%;
}

.project-description {
    padding-right: 40px;
}

.project-description p {
    padding-left: 0;
}

.project-title {
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #fece1a;
}

.project-title h3 {
    float: left;
    margin-top: 5px;
    padding: 0;
    width: 80%;
}

.project-title .close {
    color: #fece1a;
    margin-top: 10px;
}

.project-info span,
.project-title h3 {
    color:#fece1a;
}

.project-info {
    font-weight: 100;
    padding: 10px 0;
}

.project-info a {
  color: #fff;
  padding: 10px 0;
}

.project-info span {
    width: 130px;
    display: inline-block;
}

.project-info div {
    margin-bottom: 5px;
}

.close {
    float: right;
    width: 40px;
    height: 40px;
    text-align: center;
}

#portfolio-grid {
  padding-left: 0;
}

#portfolio-grid .mix {
    opacity: 0;
    display: none;
}

ul.thumbnails .mix {
    opacity: 0;
    display: none;
}

/*--------------------------------------------------------------
6.5 About
--------------------------------------------------------------*/
.team .thumbnail {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
    border: 1px solid #fff;
}

.team .thumbnail:hover .social {
    z-index: 5;
}

.team .thumbnail:hover .social a {
    color:#fff;
}

.team .thumbnail .mask {
    background: #fece1a;
}

.team .thumbnail .mask h2 {
    margin-top: 20%;
}

.team .thumbnail .mask,
.team .thumbnail .mask h3,
.team .thumbnail .mask p,
.team .thumbnail:hover h3,
.team .thumbnail:hover .social a:hover {
    color:#181a17;
}

.team  .social,
.skills {
  padding-left: 0;
}

.skills {
    list-style-type: none;
    position: relative;
    margin:0px;
}

.skill-title {
  margin-top: 30px;
}

.skills li {
    margin-bottom: 30px;
    background: #fff;
    height: 40px;
    padding: 1px;
}

.skills li h3 {
    position: relative;
    font-size: 15px;
  line-height: 40px;
    padding:0;
    margin:0;
    left: 10px;
    z-index: 1;
    color: #181a1c;
}

.skills li .bar {
    height: 38px;
    position: absolute;
    background-color: #fece1a;
}

/*--------------------------------------------------------------
6.6 Call to Action
--------------------------------------------------------------*/
#call-to-action a:hover {
  color: #fff;
}

/*--------------------------------------------------------------
6.7 Client
--------------------------------------------------------------*/
.client-slider img {
    border: 1px solid white;
}

.client-slider img:hover {
    background-color: #fece1a;
}

.client-nav {
    list-style: none;
    margin-top: 10px;
}

.client-nav li {
    float: left;
    display: block;
    margin-left: 10px;
}

.client-nav li a {
    display: inherit;
    padding: 6px 3px 5px 5px;
    background: #fece1a;
    border-radius: 3px;
}

.client-nav li a:hover {
    background: #181a1c;
}

.testimonial p {
    color: #181a1c;
    background: #fece1a;
    padding: 15px;
    margin: 0;
}

.testimonial .arrow {
    margin-left: 10px;
    width: 0;
    border-top: 10px solid #fece1a;
    border-left: 20px outset transparent;
    border-right: 20px outset transparent;
}

.testimonial .whopic {
    display: inline-block;
}

.testimonial .whopic img {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    float: left;
}

.testimonial .whopic strong {
    float: left;
    margin-top: 10px;
    padding-left: 10px;
}

.testimonial .whopic small {
    display: block;
    font-size: 12px;

}

.bx-wrapper ul {
  margin-left: 0;
}

/*--------------------------------------------------------------
6.8 Blog
--------------------------------------------------------------*/
#blog a:hover {
  color: #fff;
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 47px;
    width: 2px;
    margin-left: -10px;
    background-color: #f1f1f1;
}

.timeline a:hover {
  color: #fff
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    color: #fff;
}

.timeline>li .timeline-image h3 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: left;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h3 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h3.subheading {
    text-transform: none;
  line-height: 30px;
  margin-top: 5px;
}

.timeline .timeline-heading span {
    color: #181a1c;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
6.9 Newsletter
--------------------------------------------------------------*/
.newsletter, .newsletter h2 {
    color: #d7ddde;
}

.newsletter .title h2 {
    text-align: left;
    padding: 0;
    margin: 0;
}

.newsletter form {
    text-align: left;
  margin-top: 10px;
}

.newsletter input {
    padding: 14px;
    height: auto;
}

.newsletter .button-sp:hover, .newsletter .button-sp:active {
    background-color: #fff;
    color: #181a1c;
}

/*--------------------------------------------------------------
6.10 Contact
--------------------------------------------------------------*/
.contact {
    background: #fece1a;
}

.contact h1,
.contact h2,
.contact h3,
.contact h4,
.contact h5,
.contact h6,
.social>li>a ,
.contact .section .title>p {
    color: #181a1c;
}

.contact textarea,
.contact input[type="text"],
.contact input[type="email"] {
    padding: 10px;
    line-height: 20px;
    height: auto;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
}

.contact textarea {
    height: 120px;
}

.contacts,
.social {
    color: #fff;
    list-style: none;
}

.contact i {
  margin-right: 5px;
}

.contacts>li {
    margin-top: 15px;
}

.contacts>li>a {
    color: #fff;
}

.contact-info {
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-info p{
     font-weight: normal;
   line-height: 25px;
}

.contact-info .icon {
    margin: 10px auto;
    font-size: 30px;
}

.map-wrapper {
    position: relative;
    height: 500px;
}

.map-canvas {
    position: absolute;
    margin-bottom: 20px;
    width: 100%;
    height: 500px;
    color: #29383f;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

.social {
    display: inline-block;
    padding-left: 0;
}

.social li {
    line-height: 32px;
    padding: 10px 5px;
    font-family: 'Pluton';
    font-size: 50px;
    transition: margin 0.4s;
    -webkit-transition: margin 0.4s;
}

.social li a {
    color: #fff;
}

.social li a:hover {
    color: #181a1c;
}

.contact-form {
    background: rgba(255, 255, 255, 0.9);
    z-index: 110;
    position: relative;
    margin-top: 25px;
    padding: 20px;
  text-align: center;
}

.contact-form h3 {
    color: #838589;
    padding-bottom: 20px;
}

.message-btn {
    border: 1px solid #747C89;
    color: #747c89;
    background-color: transparent;
    padding: 15px 30px;
    font-size: 17px;
}

.message-btn:hover {
    background-color:#fece1a;
}

.contact-info {
    text-align: center;
    font-size: 22px;
}

.info-address {
    border: 1px solid white;
    width: 60%;
    margin: 0 auto;
    padding: 15px;
    color: #181a1c !important;
}

.black {
    color: #181a1c;
}

/*--------------------------------------------------------------
7.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
7.1 Posts and Pages
--------------------------------------------------------------*/
#primary,
#secondary {
  margin-top: 50px;
}

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.pager li>a {
  margin-bottom: 10px;
}

.page-header {
  margin: 20px 20px 30px;
}

/*--------------------------------------------------------------
7.2 Post Meta
--------------------------------------------------------------*/
.entry-meta>span {
  margin-right: 5px;
  display: block;
}

.entry-meta span:last-child {
  margin-right: 0;
}

.entry-meta span a {
  text-decoration: none;
}

.entry-meta {
  margin: 15px 0;
}

.entry-footer {
  color: inherit;
}

.posted-on a, .byline a {
  text-decoration: none;
}

/*--------------------------------------------------------------
7.3 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/*--------------------------------------------------------------
7.4 Comments
--------------------------------------------------------------*/
.comment-content a {
  -ms-word-wrap: break-word;
      word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

.comments-title,
.comment-reply-title {
  padding-bottom: 9px;
  margin: 40px 0 20px 0;
}

ol.comment-list {
  list-style:none;
  padding-left: 0;
}

.comment-author .avatar {
  margin: 5px 15px 0 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}

.comment-meta {
  margin-bottom: 5px;
}

.comment-details {
  overflow: hidden;
  zoom: 1;
  margin-bottom: 25px;
  padding-bottom: 25px;
}

.comment-details .reply {
  margin-top: 10px;
}

.comment-date a {
  margin-right: 10px;
}

#commentform #comment {
  width: 98% !important;
}

/*--------------------------------------------------------------
7.5 404
--------------------------------------------------------------*/
.error404 .input-append {
  margin: 10px 0;
}

/*--------------------------------------------------------------
8.0 Footer
--------------------------------------------------------------*/
.footer {
    background: #181a1c;
    text-align: center;
}

.footer a {
    color: #fece1a;
}

.footer>p {
    color: #fff;
  margin: 0;
    padding: 10px;
}

.scrollup {
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    width: 39px;
    height: 39px;
    border-radius: 5px;
    font-size: 20px;
    position: fixed;
    bottom: 80px;
    right: 20px;
  border: 1px solid #fff;
    display: none;
    background: #ffce1a;
    z-index: 1000;
}

.scrollup>a {
    position: relative;
    top: 7px;
    color: #fff;
}

/*--------------------------------------------------------------
9.0 Media
--------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object,
img {
  max-width: 100%;
}

img {
  height: auto;
}

.post-thumbnail {
  display: block;
  position: relative;
  width: 100%;
  z-index: 0;
}

.post-thumbnail .featured  {
  display: block;
  margin: 0 auto;
  -webkit-transition: all 0.3s linear;
     -moz-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
}

.post-thumbnail .featured:hover {
  opacity: 0.8;
}

/*--------------------------------------------------------------
9.1 Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto;
}

.wp-caption-text {
  text-align: center;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

/*--------------------------------------------------------------
9.2 Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

/*--------------------------------------------------------------
10.0 Media Queries
--------------------------------------------------------------*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .entry-meta>span {
    display: inline-block;
  }
}

/* Small Devices, Tablets */
@media (min-width:767px) {
  .single-project [class*="col"] {
    padding-right: 0;
  }

  .navbar-right {
    margin-right: 0;
  }
}

@media (max-width:767px) {
    .info-address {
        width: 90%;
        padding: 15px 0px;
    }

  .project-description {
        padding: 0 10px;
    }
}

@media only screen and (min-width : 768px) {
  .timeline:before {
        left: 50%;
    }

    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 40%;
        padding: 0;
        text-align: right;
    }

    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -55px;
    }

    .timeline>li .timeline-image h3 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0;
        text-align: left;
    }

  .post-inner-content {
    padding: 15px 30px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .timeline>li {
        min-height: 150px;
    }

    .timeline>li .timeline-panel {
        padding: 10px 0;
    }

    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -83px;
    }

    .timeline>li .timeline-image h3 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 10px 0;
    }

  .newsletter button {
    margin: 0 0 0 20px;
  }
}

@media (max-width: 979px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }

  .navbar-fixed-top, .navbar-fixed-bottom {
        position: fixed;
    }

    .navbar .nav>li>a {
        line-height: 20px;
        vertical-align: middle;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: 0;
        margin-right: 0;
    }

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-nav {
        float: none!important;
    margin-top: 1px;
  }

    .collapse.in{
      display:block !important;
  }

    .thumbnail .more {
        margin-left: -21px;
        width: 40px;
        height: 40px;
        border-radius: 30px;
        line-height: 40px;
    }

    .thumbnail:hover .more {
        margin-top: -20px;
    }

    .newsletter form {
        text-align: center;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .thumbnail .more {
        margin-left: -40px;
        width: 80px;
        height: 80px;
        border-radius: 40px;
        line-height: 80px;
    }

    .timeline>li {
        min-height: 170px;
    }

    .timeline>li .timeline-panel {
        padding: 10px 20px 10px 0;
    }

    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -93px;
    }

    .timeline>li .timeline-image h3 {
        margin-top: 40px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 10px 0 10px 0;
    }
}

/*Custom CSS  0099e5 */

.da-slider .mask {
  background: #0099e5 none repeat scroll 0 0;
}

.navbar .nav > li:hover > a, .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    border: 1px solid #0099e5;
}

.primary-section, .primary-section h3, .primary-section .title p {
    color: #0099e5;
}

.secondary-section {
    background: none repeat scroll 0 0 #0099e5;
}

.primary-section .triangle {
    border-top: 40px solid #0099e5;
}

.third-section {
    border-top: 6px solid #fff;
}

.third-section .title {
    color: #0099e5;
}

.button-sp, .button-sp:focus, .button-sp:visited, .skills li .bar {
    background-color: #0099e5;
}

.scrollup {
    background: none repeat scroll 0 0 #0099e5;
}

.message-btn:hover {
 color: #000;
 background-color: #0099e5;
}

.navbar .btn-navbar, .navbar .btn-navbar:hover {
    background: #0099e5;
}

.project-info span, .project-title h3,.section .thumbnail h3  {
    color: #0099e5;
}

.project-title {
    border-bottom: 1px solid #0099e5;
}

.icon-cancel:before {
    content: '\e81d';
  color: #0099e5;
}

.section a:hover {
    color: #0099e5;
}

.icon-facebook-squared:before {
    content: '\e998';
    background-color: #0099e5;
}

.icon-twitter-squared:before {
    content: '\e9c2';
  background-color: #0099e5;
}

.icon-linkedin-squared:before {
    content: '\e9ad';
  background-color: #0099e5;
}

.team .thumbnail .mask {
    background: #0099e5;
}

.team  .icon-facebook-squared:before {
    content: '\e998';
    color: #0099e5;
  background-color: transparent;
}

.team  .icon-twitter-squared:before {
    content: '\e9c2';
  color: #0099e5;
  background-color: transparent;
}

.team  .icon-linkedin-squared:before {
    content: '\e9ad';
  color: #0099e5;
  background-color: transparent;
}

/*  Custom CSS  */

.logo img {
  width: 180px;
}

.navbar-default {
  border: none;
}

.navbar.container, .navbar.container-fluid {
  margin-top: 0;
}

.navbar-nav {
  float: right;
}

.navbar.container {
    max-width: 1170px;
}

.da-slider {
  background: transparent url("../images/home-bg-1.jpg") repeat-x scroll 0 center;
}

.circle-border img {
  border-radius: 50%;
}

.service a {
  color: #0099e5;
}

#tax, #services, #about {
  background: #181a1c;
}


#block-views-block-portfolio-block-1, #portfolio {
  background: none repeat scroll 0 0 #0099e5 !important;
}

#colophon .footer{
    background: none repeat scroll 0 0 #181a1c;
    padding: 0px;
    margin: 0px;
}

#colophon .footer a{
  color: #fff;
}
#colophon .footer a:hover{
  color: #0099e5;
}
.footer{
  width: 100%;
  padding-bottom: 0px;
  border: none;
  background: none repeat scroll 0 0 #0099e5;
  margin-top: 0;
}

.section.secondary-section{
  background: none repeat scroll 0 0 #0099e5;
}
.view-id-portfolio .attachment .secondary-section{
  padding: 10px 0 !important;
}
.view-id-portfolio .filter{
  background: #0099e5;
  color: #fff;
  border-radius: 0;
  line-height: 14px;
  margin: 2px 5px 2px 0;
  padding: 10px;
  border: 1px solid #181a1c;
  float: left;
  position: relative;
  display: block;
}

.thumbnails{
  padding: 0px;
}
.view-id-portfolio .filter a{
  color: #fff;
}

.view-id-portfolio .filter:hover{
  background: #181a1c;
  float: left;
  position: relative;
  display: block;
  margin: 2px 5px 2px 0;
  border: 1px solid #181a1c;
  padding: 10px;
}

.view-id-portfolio .filter.active{
  background: #181a1c;
  float: left;
  position: relative;
  display: block;
  margin: 2px 5px 2px 0;
  border: 1px solid #181a1c;
  padding: 10px;
}
.view-id-portfolio .filter:hover a{
  color: #0099e5;
}

.thumbnail>img {
    width: 100%;
}

#contact .field--name-body{
  position: absolute;
  width: 100%;
}

.view-service-list {
  padding: 60px 0 80px 0;
}

.section .title p {
    color: #0099e5;
}

.section .title {
    border-bottom: 1px solid #fff;
}

.team .triangle{
  border-top: 40px solid #0099e5;
}

.contact-form {
  float: right;
}

.path-frontpage .message-area {
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.user-login-form .form-group{
  padding: 0 20px;
}
.user-login-form .form-group .form-control{
  width: 100%;
  display: inline-block;
}
.navbar-toggle {
  background: #0099e5 none repeat scroll 0 0;
}

#top-navigation li ul{
  display: none;
  background: #181a1c none repeat scroll 0 0;
  border-radius: 0;
  text-transform: uppercase;
}

#top-navigation li:hover ul {
  display: block;
}

.dropdown-menu > li > a {
    color: #fff;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background-color: transparent;
  border: 1px solid #0099e5;
  color: #fff;
  text-decoration: none;
}

.sentence{
  color: #fff;
  font-size: 30px;
  padding: 20px;
  background: rgba(0,0,0,0.5);
  margin-top: 20px;
}
/*
Word rotation
*/
/*Vertical Sliding*/
.slidingVertical{
  display: inline;
  text-indent: 8px;
}
.slidingVertical span{
  animation: topToBottom 7.5s linear infinite 0s;
  -ms-animation: topToBottom 7.5s linear infinite 0s;
  -webkit-animation: topToBottom 7.5s linear infinite 0s;
  color: #0099E5;
  opacity: 0;
  position: absolute;
}
.slidingVertical span:nth-child(2){
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3){
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
}
/*.slidingVertical span:nth-child(4){
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
}
.slidingVertical span:nth-child(5){
  animation-delay: 10s;
  -ms-animation-delay: 10s;
  -webkit-animation-delay: 10s;
}*/

/*topToBottom Animation*/
@-moz-keyframes topToBottom{
  0% { opacity: 0; }
  5% { opacity: 0; -moz-transform: translateY(-50px); }
  10% { opacity: 1; -moz-transform: translateY(0px); }
  25% { opacity: 1; -moz-transform: translateY(0px); }
  30% { opacity: 0; -moz-transform: translateY(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
  0% { opacity: 0; }
  5% { opacity: 0; -webkit-transform: translateY(-50px); }
  10% { opacity: 1; -webkit-transform: translateY(0px); }
  25% { opacity: 1; -webkit-transform: translateY(0px); }
  30% { opacity: 0; -webkit-transform: translateY(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
  0% { opacity: 0; }
  5% { opacity: 0; -ms-transform: translateY(-50px); }
  10% { opacity: 1; -ms-transform: translateY(0px); }
  25% { opacity: 1; -ms-transform: translateY(0px); }
  30% { opacity: 0; -ms-transform: translateY(50px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
/*Services Section*/
/*----------------------------------*/
/*parallax*/
section.module:last-child {
  margin-bottom: 0;
}
section.module h3 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  padding: 100px 0;
  background-position: 0 0;
}
section.module.parallax h2 {
  color: #1e1e1e;
  font-size: 2em;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px black;
}
section.module.parallax-1 {
  background-image: url("../images/pw22-1024x682.jpg");
  /*background-size: cover;*/
  background-repeat: no-repeat;
}
section.module.parallax-2 {
  background-image: url("../images/pw22-1024x682.jpg");
  /*background-size: cover;*/
  background-repeat: no-repeat;
}

/*@media all and (min-width: 600px) {
  section.module h3 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax {
    padding: 300px 0;
  }
  section.module.parallax h2 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h2 {
    font-size: 160px;
  }
}
*/



.navbar-fixed-top{
  position: fixed;
}
.hero-nav{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    min-height: 105px;
    background-image: url(../images/parallax.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.hero-nav .hero-nav__inner{
        z-index: 1;
}

.hero-nav h1{
        color: #efefef;
        font-size: 5vw;
}
.hero-nav::before{
        content: "";
        background: rgba(#000, 0);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: background 400ms;
}
.hero-nav.fixme::before{
            background: rgba(#000, 0.8);
}

.page-content{
    width: 30em;
    margin: 0 auto;
    line-height: 1.625;
}
/*----------------------------------*/

@media screen and (max-width:480px) {
  .da-slide h2 {
    font-size: 0.7em;
  }

  .dropdown-menu{
    float: none;
    position: relative;
  }

  #top-navigation li ul{
    display: block;
    padding: 0 10px;
  }
  .navbar-nav > li:last-child{
    display: none;
  }

}

/*@media screen (min-width:480px) and (max-width: 768px){
  #top-navigation li a, #top-navigation li ul a{
    font-size: 10px;
  }
}*/

@media only screen and (min-device-width : 480px) and (max-device-width : 768px) {
  #top-navigation li a, #top-navigation li ul a{
    font-size: 10px;
  }

  #top-navigation li ul{
    display: block;
    padding: 0 10px;
  }
}
@media screen and (max-width:767px) {
  .parallax .txt{
      font-size: 20px;
  }
  .sentence{
    font-size: 16px;
  }
}

.da-slide .da-img {
  padding-left: 100px;
}

#block-views-block-homepage-slider-block-1 {
  background: #181a1c none repeat scroll 0 0;
}

.navbar-default .navbar-toggle {
   background: #0099e5 none repeat scroll 0 0;
   border-radius: 0;
   border: 1px solid #181A1C;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #181A1C;
}

.footer{
  padding-top: 0;
}

.path-frontpage .footer{
  margin-top: 70;
  padding-top: 35px;
}

.mask{
  letter-spacing: -3px;
}

#footerblock .footer{
  font-size: 13px;
}
.path-blog .form-group, .path-services .form-group{
  margin-bottom: 0px;
}

.hire-us-wrapper{
  padding: 25px 0;
  color: #fff;
  background-color: #181a1c;
}

.hire-us-wrapper h2{
  margin-top: 10px;
}
.hire-us-wrapper p{
  line-height: 1.5em;
}
.hire-us-wrapper a{
  background-color: #0099e5;
  color: #fff;
  margin-top: 10px;
}
.hire-us-wrapper a:hover{
  background-color: #fff;
  color: #181a1c;
}
.hire-us-item{
  padding: 5px 0;
}
#service-list{
  background-color: #181a1c;
}

.captcha .img-responsive{
  margin: 0 auto;
}

.captcha input.error{
  display: block;
}